<% layout('../layout') %>
<% script('../examples/js/' + ex + '.js') %>

<% stylesheet('../examples/css/goconnection.css') %>

<div class="container" ng-controller="exampleCtrl">
  <div class="jumbotron {{ connected }}">
    <h3>{{ message }}</h3>
  </div>
</div>
